 <div class="d-flex align-items-center">
        <label for="pageSize" class="me-2">Rows per page:</label>
        <select id="pageSize" class="form-select form-select-sm me-2" style="width: 80px;">
            <option value="5">5</option>
            <option value="10" selected>10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
    <div class="pagination-container me-2">
    <button class="btn btn-sm btn-outline-primary me-2 prevPage" title="previous Page" disabled>&laquo;</button>
        <span id="currentPageText"></span> / <span id="totalPagesText">1</span>
    <button class="btn btn-sm btn-outline-primary me-2  nextPage" title="next Page">&raquo;</button>
    </div>


   